<mat-card class="project">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cat Shuffle</mat-card-title>
    <mat-card-subtitle>HTML, CSS, JavaScipt/API</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/projects/cats.png" alt="Photo of a Cat project">
  <mat-card-content>
    <p>
      Cat Shuffle was a basic one page application that I used to dabble with APIs.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
