.footer {
  padding: 5em 0;
  // background-color: var(--light-gray);
  // background-image: linear-gradient(120deg, #adadad 0%, #dad8d8 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
  p {
    display: flex;
    align-items: center;
  }
  h4 {
    color: var(--light-gray);
  }
  ion-icon {
    font-size: 1.2em;
    color: var(--white);
    &:hover {
      transition: ease-in-out 0.3s;
      transform: scale(1.5);
    }
  }
  .social-icons {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 8em;
  }
  .icon {
    margin-right: 0.4em;
    &:hover {
      transition: none;
      transform: none;
    }
  }
  &__paragraph {
    width: 55%;
    text-align: center;
    color: var(--white);
    line-height: 2;
    font-size: 0.85em;
    @media only screen and (max-width: 635px) {
      width: 100%;
    }
  }
  &__row-column {
    @media only screen and (max-width: 635px) {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    }
  }
}

.copyright {
  display: flex;
  background-color: var(--dark-gray);
  height: 4em;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.11), 0 0px 2px rgba(0, 0, 0, 0.11),
    0 0px 4px rgba(0, 0, 0, 0.11), 0 0px 8px rgba(0, 0, 0, 0.11),
    0 0px 16px rgba(0, 0, 0, 0.11), 0 0px 32px rgba(0, 0, 0, 0.11);
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
  p {
    margin: 0;
    line-height: 2;
    color: var(--light-gray);
    letter-spacing: .02em;
  }
  h3 {
    margin: 0 0 1em 0;
    color: var(--white);
  }
}

.button {
  margin-top: 1.5em;
  color: var(--white);
}
