<!-- <section class="contact section">
  <div class="contact__container container">
      <div class="contact__row">
          <div class="contact__row-column row-column">
              <div class="contact__column column">
                <app-contact-form></app-contact-form>
              </div>
          </div>
      </div>
  </div>
</section> -->
<section class="project section">
  <div class="project__container container">
    <div class="project__row">
      <div class="project__row-column row-column">
        <div class="project__column column">
          <h3>Shoot me an email at <a href="mailto:rterry5@gmail.com">rterry5@gmail.com</a>!</h3>
        </div>
      </div>
    </div>
  </div>
</section>
