.header {
  background-image: url('src/assets/images/keyboard-01.jpg');
  min-height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  @media only screen and (max-width: 556px) {
    background-attachment: scroll;
  }
  &__container {
    width: 100%;
  }

  &__content {
    font-size: 1.25em;
    color: var(--light-gray);
    margin: 0 0 1em 0;
  }
  h1 {
    color: var(--white);
    @media only screen and (max-width: 556px) {
      font-size: 2em;
    }
  }
}
