<div class="header section">
  <header class="header__container container">
      <div class="header__row">
          <div class="header__row-column row-column">
              <div class="header__column column">
                  <h1>Rebecca Terry</h1>
                  <p class="header__content">Front End Web Developer</p>
                  <a href="mailto:rterry5@gmail.com">
                      <button type="button" class="button">Contact Me</button></a>
              </div>
          </div>
      </div>
  </header>
</div>
