<img src="assets/images/me-spain.jpg" alt="" class="about__image">
<div class="about section fade-in">
  <header class="about__container container">
    <div class="about__row">
      <div class="about__row-column row-column">
        <div class="about__column column">
          <h2>A little bit about me</h2>
          <p>Originally from Florida, Rebecca moved to Oregon in 2018 and began pursuing web development more
            passionately while working from home as an IT solutions analyst. She graduated with a Bachelors in
            Anthropology from the University of Central Florida and uses her spare time learning JavaScript, Angular and
            other web technologies. Cooking, playing video games, traveling, and spending time with her girlfriend, dog,
            and three cats are some of her other favorite pastimes.</p>
        </div>
      </div>
    </div>
  </header>
</div>
