<section class="main section">
  <div class="main__container container">
      <section class="main__column column">
          <h2>Hello there.</h2>
          <p>I'm Rebecca, and I am currently a front end web developer with about 1 year of professional
              experience improving consumer-facing and company-wide websites by implementing user-friendly and
              responsive UIs. In addition to my experience as a web developer, I also spent 8 years of my
              professional career doing project management, SEO, and social media management.</p>
          <div class="skill-icons">
              <ion-icon name="logo-html5"></ion-icon>
              <ion-icon name="logo-css3"></ion-icon>
              <ion-icon name="logo-javascript"></ion-icon>
              <ion-icon name="logo-angular"></ion-icon>
          </div>
      </section>
      <section class="main__column column">
          <div class="main__row-column">
              <div class="main__row-text">
                  <h2>Testing content</h2>
              </div>
              <div class="main__row-skills">
                  <h3>HTML</h3>
                  <div class="main__skill">
                      <p class="skill">Content</p>
                  </div>
                  <h3>CSS</h3>
                  <div class="main__skill">
                      <p class="skill">Content</p>
                  </div>
                  <h3>JavaScript</h3>
                  <div class="main__skill">
                      <p class="skill">Content</p>
                  </div>
                  <h3>Angular</h3>
                  <div class="main__skill">
                      <p class="skill">Content</p>
                  </div>
              </div>
          </div>
      </section>
  </div>
</section>
