<section class="page-not-found section">
  <div class="page-not-found__container container">
    <div class="page-not-found__row">
      <div class="page-not-found__row-column row-column">
        <div class="page-not-found__column column">
          <h1>404</h1>
          <ion-icon name="sad-sharp"></ion-icon>
          <h2>Page Not Found</h2>
          <h4>The page you are trying to reach does not seem to exist...</h4>
          <a [routerLink]="['']">
            <button type="button" class="button">Take Me Home</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
