/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Raleway&display=swap");

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

:root {
  --dark: #020511;
  --dark-blue: #13235c;
  --medium-blue: #2575fc;
  --light-blue: #08aeea;
  --aqua-blue: #0ccf9f;
  --hot-pink: #fc466b;
  --purple: #6a11cb;
  --white: #e9e9e9;
  --gray: #656565;
  --light-gray: #c7c7c7;
  --dark-gray: #313131;
}

* {
  box-sizing: border-box;
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    color: var(--dark-gray);
    margin: 0;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: var(--dark-gray);
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: var(--dark-gray);
  }

  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: var(--dark-gray);
  }

  h5 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: var(--aqua-blue);
    font-size: 0.8em;
    text-transform: lowercase;
  }

  p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    color: var(--gray);
    font-size: 1em;
  }
  .light-heading {
    color: var(--white);
  }

  .light {
    color: var(--light-gray);
  }
}

.button {
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid var(--medium-blue);
  border-radius: 40px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: 3em;
  width: 225px;
  color: var(--medium-blue);
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
    color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
    border-width 0.3s cubic-bezier(0, 0, 0, 0),
    border-color 0.3s cubic-bezier(0, 0, 0, 0);
  &:active {
    border: 2px solid var(--medium-blue);
    background: var(--medium-blue);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  &:hover {
    color: rgba(255, 255, 255, 1);
    background: var(--medium-blue);
  }
}

.section {
  display: flex;
  padding: 5em 0;
  margin: auto;
}

.container {
  max-width: 1140px;
  margin: auto;
  flex-wrap: wrap;
}

.column {
  padding: 0 2em;
  @media only screen and (max-width: 556px) {
    text-align: center;
  }
}

.row-column {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 808px) {
    flex-wrap: wrap;
  }
}

.skill-icons {
  display: flex;
  width: 35%;
  margin-right: auto;
  justify-content: space-between;
  @media only screen and (max-width: 556px) {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
  ion-icon {
    color: var(--medium-blue);
    font-size: 2em;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
