<nav class="navbar">
  <div class="navbar__container">
    <a class="navbar__logo navbar__link" [routerLink]="['']"><img src="assets/images/r.png" class="logo"></a>
    <ul class="navbar__link-container">
      <li><a class="navbar__link" [routerLink]="['']">Home</a></li>
      <li><a class="navbar__link" [routerLink]="['/projects']">Projects</a></li>
      <li><a class="navbar__link" [routerLink]="['/about']">About</a></li>
      <li><a class="navbar__link" [routerLink]="['/contact']">Contact</a></li>
    </ul>
    <ul class="navbar__social">
      <li><a href="https://www.linkedin.com/in/rebecca-terry-12384b52/" target="_blank">
          <ion-icon class="icon-link" name="logo-linkedin"></ion-icon>
        </a></li>
      <li><a href="https://github.com/rterry5" target="_blank">
          <ion-icon class="icon-link" name="logo-github"></ion-icon>
        </a></li>
      <li><a href="https://www.instagram.com/rterry51/" target="_blank">
          <ion-icon class="icon-link" name="logo-instagram"></ion-icon>
        </a></li>
      <li><a href="https://www.facebook.com/rterry5" target="_blank">
          <ion-icon class="icon-link" name="logo-facebook"></ion-icon>
        </a></li>
    </ul>
  </div>
</nav>
